body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #e6e6e6;
}

.topbar {
    background: #a30000;
    color: white;
    text-align: center;
    padding: 12px;
    font-size: 20px;
    font-weight: bold;
}

.menu-box {
    width: 350px;
    margin: 30px auto;
    background: #f5f5f5;
    padding: 0;
    border-radius: 6px;
    border: 1px solid #d9d9d9;
    box-shadow: 0px 0px 6px rgba(0,0,0,0.1);
}

.menu-box ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu-box li {
    padding: 12px;
    border-bottom: 1px solid #dcdcdc;
    cursor: pointer;
    font-size: 16px;
}

.menu-box li:hover {
    background: #d3d3d3;
}
