body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #ffffff;
}

.title {
    text-align: center;
    color: #c40000;
    margin-top: 40px;
    font-size: 32px;
    font-weight: bold;
}

.table-container {
    width: 90%;
    margin: 30px auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0px 0px 5px #ddd;
}

thead th {
    background: #faf3d1;
    padding: 14px;
    font-size: 18px;
}

tbody td {
    text-align: center;
    padding: 14px;
    font-size: 17px;
}

tbody tr:nth-child(even) {
    background: #f9f9f9;
}

.download-btn img {
    width: 50px;
    cursor: pointer;
}

footer {
    background: #2c2c2c;
    padding: 20px;
    margin-top: 240px;
}

.footer-text {
    color: #fff;
    text-align: left;
    font-size: 16px;
}
.icon
{
    float:right;

}


/* Social Icons */
.footer-social {
    margin-left:30px;
    color: white;
}

.footer-social .icon {
    display: inline-block;
    margin: 0 10px;
    font-size: 18px;
    cursor: pointer;

    
    
}