body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #fafafa;
}

/* Header */
.header {
    text-align: center;
    padding: 30px 10px;
}

.header h1 {
    color: #c62828;
    font-size: 32px;
    margin: 0;
}

.header p {
    font-size: 18px;
    color: #444;
}

/* Table */
.table-section {
    width: 90%;
    margin: auto;
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: #fff;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

table th {
    background: #f5f5f5;
    font-weight: bold;
}

/* Button */
.button-area {
    text-align: center;
    margin: 20px 0;
}

.exam-btn {
    background: #d32f2f;
    color: white;
    border: none;
    padding: 10px 25px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

/* Instructions */
.instructions {
    width: 90%;
    margin: auto;
    background: #fff8d5;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 5px;
}

.instructions ul {
    margin: 0;
    padding-left: 25px;
}

.instructions li {
    margin-bottom: 10px;
}

.policy {
    text-align: center;
    margin-top: 20px;
}

.policy a {
    color: red;
    font-weight: bold;
    text-decoration: none;
}

/* Footer */
.footer {
    background: #2c2c2c;
    color: white;
    padding: 30px;
    text-align: center;
}

.footer .contact {
    margin-bottom: 20px;
}

.copy {
    font-size: 14px;
    opacity: 0.8;
}




























/* ----------- FOOTER MAIN SECTION ----------- */

.footer-section {
    width: 100%;
    background: #fff;
    padding: 40px 0;
}

.footer-wrapper {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Left Contact Box */
.footer-contact {
    display: flex;
    align-items: center;
}

.footer-icon {
    font-size: 40px;
    margin-right: 15px;
    background: black;
    color: white;
    padding: 15px 20px;
    border-radius: 10px;
}

.footer-text h3 {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
}

.footer-text p {
    margin: 5px 0 0 0;
    line-height: 1.6;
}

/* Right Side Image */
.footer-img img {
    width: 330px;
    border-radius: 5px;
}

/* Bottom Black Bar */
.bottom-footer {
    width: 100%;
    background: #1f1f1f;
    color: white;
    text-align: center;
    padding: 25px 0;
    position: relative;
}

.bottom-footer p {
    margin: 0 0 5px 0;
    font-size: 15px;
}

/* Social Icons */
.footer-social {
    margin-top: 10px;
}

.footer-social .icon {
    display: inline-block;
    margin: 0 10px;
    font-size: 18px;
    cursor: pointer;
    float: right;
}




.rathna
{
    float:left;

}

